#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/*---------------------------------------My Styles---------------------------------------*/
body, html{
  background-color: #F6F6F3;
}

/*------------Nav bar on page------------*/

.navigation-bar {
  overflow: hidden;
  /* background: linear-gradient(to right,#70A9A1,#9EC1A3,#CFE0C3); */
  /* background: linear-gradient(to right, #D4E09B,#CBDFBD, #CBDFBD); */
  background-color: #B2BE9D;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem;
  border-bottom: solid white 1px;
  
}

.nav-style{
  padding: 100%;
  padding-right: 1.5%;
  padding-left: 1.5%;
  font-size: 110%;
  font-weight: 500;
  text-decoration: inherit;
}

.navigation-bar .links{
  color: #31493D;
}

.on-page{
  background-color: #588157;
  color: white;
  height: 100%;
}

.navigation-bar .links:hover{
  background-color: #588157;
  color: white;
}

.navigation-bar  .on-page:hover{
  background-color: #588157;
  color: white;
}

/*------------Flex Home Page------------*/

.flex-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  max-width: 1280px;
  justify-content: center;
  align-items: center;
}

.flex-container img {
  flex-shrink: 1;
  width: min(490px, 90vw);
  border-radius: 10px;
}

.flex-container .flex-text {
  flex-basis: 400px;
  flex-grow: 1;
  padding: 1rem;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}



/*------------P element------------*/

p{
  font-size: 1.5em;
}

/*------------Button------------*/

.button{
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none;
  border-radius: 10px;
  background-color: #B2BE9D;
  color: #31493D;
}